ODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/crypto_dashboard
REDIS_URL=redis://localhost:6379
JWT_SECRET= Your_JWT_SECRET
JWT_EXPIRY=7d
COINGECKO_API_URL=https://api.coingecko.com/api/v3
COINGECKO_API_KEY=YPUR_API_KEY
PRICE_FETCH_INTERVAL=10000
LOG_LEVEL=info
